@import "../../node_modules/bootstrap/scss/navbar";

.navigation-bar {
    @extend .navbar, .navbar-expand-lg, .navbar-light ;
    background-color: #e3f2fd;
}

.logo {
    @extend .navbar-brand;
    &__image {
        @extend .d-inline-block, .align-top ;
        height: auto;
        width: 40px;
    }
}

.toggler {
    @extend .navbar-toggler ;
}

.navbar-collapse {
    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
    }
}

.navigation-list {
    @extend .navbar-nav ;
    &__link {
        @extend .nav-link ;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    &--active {
        a{
            color: rgba(#000, 0.9)!important;
        }
    }
}