@import "../../assets/sass/components/_users-details.scss";
.loading-screen {
    align-items: center;
    background-color: white;
    display: flex;
    height: 60%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 66px;
    width: 100%;
}

$base-line-height: 50px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid rgba($blue, 0.2);
    border-top-color: $blue;
    animation: spin $spin-duration infinite linear;
}